body {
  background-image: url(kelly-sikkema-PXl_S152jNM-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
form {
  background-color: rgba(210, 105, 30, 0.39);
  border-radius: 4%;
  position: absolute;
  left: 40%;
  top: 20%;
}

input[type="text"] {
  font-size: xx-large;
}
h1 {
  color: blueviolet;
  text-align: center;
}
