body {
  background-image: url(kelly-sikkema-PXl_S152jNM-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
form {
  background-color: rgba(210, 105, 30, 0.39);
  border-radius: 4%;
  position: absolute;
  left: 40%;
  top: 20%;
}
button {
}
input {
}
select {
}
textarea {
}
input[type="text"] {
}
h1 {
  color: red;
  text-align: center;
}
