body {
  background-image: url(kelly-sikkema-PXl_S152jNM-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
form {
  font-size: 75px;
  background-color: rgba(210, 105, 30, 0.39);
  border-radius: 4%;
  position: absolute;
  left: 38%;
  top: 20%;
}
button {
  font-size: 35px;
}
input {
  font-size: x-large;
}
select {
  font-size: 40px;
}
textarea {
  font-size: 40px;
}
input[type="text"] {
  font-size: 55px;
}
h1 {
  font-size: 50px;
  color: red;
  text-align: center;
}
